* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: arial;
  }
  
  body {
    text-align: center;
    font-family: arial;
  }


  .achievement-table {
    position: relative;
    width: 80%;
    left: 20%;
  }


/* Gaya Header Kolom */
.achievement-table th {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: left;
}

/* Gaya Sel Baris */
.achievement-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.achievement-table tbody tr:nth-child(even) {
  background-color: #e5e5e5;
}

/* Gaya Sel Data */
.achievement-table td {
  padding: 10px;
}

/* Gaya ID */
.achievement-table td:first-child {
  font-weight: bold;
}

/* Gaya Threshold */
.achievement-table td:last-child {
  font-style: italic;
}

/* Gaya Hover Baris */
.achievement-table tbody tr:hover {
  background-color: #c9e2ff;
}

/* Batas antara Tabel dan Konten Terkait */
.achievement-list {
  max-height: 200px; /* Sesuaikan dengan preferensi Anda */
  overflow-y: auto;
}


  .achievement-body {
    position: relative;
    width: 80%;
    left: 20%;
    height: 100%;
    background-color: #202020;
    overflow: hidden;
  }

  .achievement-body .achievement-list {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; 
    bottom: 5%;
    left: 20%; 
    right: 0;
  }

  .pagination .pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
  }

  .pagination li {
    display: inline;
    text-align: center;
  }
  .pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
  }
  .pagination a.active {
    cursor: default;
  }
  .pagination a:active {
    outline: none;
  }
  
  .achievement a {
    margin: 0 5px;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background-color: #000000;
  }
  .achievement a.prev {
    -moz-border-radius: 50px 0 0 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px 0 0 50px;
    width: 100px;
  }
  .achievement a.next {
    -moz-border-radius: 0 50px 50px 0;
    -webkit-border-radius: 0;
    border-radius: 0 50px 50px 0;
    width: 100px;
  }
  .achievement a:hover {
    background-color: crimson;
  }
  .achievement a.active, .achievement a:active {
    background-color: rgb(127, 0, 25);
  }
  