/* body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-top: 0;
}

.user-header,
.admin-header {
    display: flex;
    align-items: center;
}

.user-header a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.user-profile a {
    display: inline-block;
    align-items: end;
    position: absolute;
    top: 1.5%;
    right: 1.5%;
    color: red;
  }
   */

body, h1, h2, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #192e3a;
}

.sidebar {
    width: 250px;
    background: linear-gradient(to bottom, #192e3a, #0c1b28);
    color: #fff;
    height: 100%;
    position: fixed;
    overflow-y: auto;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
    transition: width 0.3s;
}

.sidebar h2 {
    padding: 20px;
    text-align: left;
    font-size: 24px;
    border-bottom: 2px solid #192e3a;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}


.sidebar li {
    padding: 15px; 
    font-size: 18px;
    border-radius: 10px; 
    margin-bottom: 10px;
    width: 80%; 
    margin-left: auto;
    margin-right: auto;
}

.sidebar li {
    border: 0.5px solid #17456e; 
}

.sidebar a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: background-color 0.3s;
}

.sidebar a:hover {
    color: #5bacdf;
    transform: scale(1);
}












